wheel
Flask
Flask-HTTPAuth
Flask-SQLAlchemy
Flask-JWT
Flask-Testing
Jinja2
MarkupSafe
SQLAlchemy
SQLAlchemy-migrate
itsdangerous
passlib
flask_script
pymysql

flask_socketio
gevent
scrypt

mysqlclient
requests
socketIO_client
